/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

body {
	color: #000;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

#body_home {
	max-height: 96.5%;
}

body .line {
 	border-top:1px solid #efefef;
 	display: block;
}

body .line.coalesced {
	border-top: 0;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Hide some internal stuff. */
#timestampWidth {
	display: none;
}

/* Loading Screen */

#loading_screen {
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	white-space: nowrap;
	float: right;
	color: #999;
	-webkit-user-select: none;
	text-shadow: #fff 0px 1px;
	font-weight: bold;
	margin-right: 10px;
	line-height: 30px;
	font-style: normal;
	text-align: right;
}

/* Scrolling */

body[data-custom-scroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-track {
	background: #fbfbfb;
	box-shadow: inset 1px 0px 0px 0px #e8e8e8;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #7d7d7d;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #184586;
}

a:hover {
	color: #31B8FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	opacity: 0; /* Set by JavaScript */
	z-index: 400;
	position: fixed;

	color: #000;
	text-shadow: #e3e3e3 0px 1px;
	background-color: #bcbcbc;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#bcbcbc));

	font-weight: bold;
	text-align: center;
	line-height: 28px;
	font-size: 85%;

	padding: 0 6px 0 6px;
	border-bottom: solid 1px #a3a3a3;

	-webkit-transition: opacity 0.8s linear;
	-webkit-box-shadow: #888 0 2px 2px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a,
#topic_bar .channel {
}

/* Images */

body a img {
	padding-left: 5px;
	padding-bottom: 5px;
}

body img {
	display: block;
	max-width: 95%;
}


/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px solid;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic
{
	opacity: 0.6;
}

span.sender{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* NOTICE/CTCP/WALLOPS */

body div.line{
	word-break: break-all;
}

body div.line[data-line-type*=ctcp],
body div.line[data-line-type*=notice],
body div.line[data-line-type*=wallops] {
	color: #f00;
  	z-index: 191;
	background: #fcc;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #f77;
	border-bottom: 1px solid #f77;
}

body div[data-line-type*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* PRIVMSG */

body div.line[data-line-type*=privmsg][data-highlight=false] {
	padding: 0;
}

body div.line[data-line-type*=privmsg][data-highlight=true],
body div.line[data-line-type*=action][data-highlight=true] {
	font-weight: normal;
	background-color: #ffc !important;
}

body div.line[data-line-type*=action][data-highlight=true] span.sender {
	font-weight: normal;
	background-color: #ffc !important;
	font-weight:700;
}

body div[data-line-type*="privmsg"] .message {
	color: #000;
	height:30px;
}

body div[data-line-type*=privmsg] p[data-line-type*=myself] .message,
body div[data-line-type*=privmsg][data-member-type*=myself] .message {
	color: #000;
}

body div[data-line-type*=privmsg] .sender {
	font-weight: 700;
	width:134px;
	min-height:30px;
	text-shadow: #fff 0px 1px;
	background-color: #eee;
	border-right: 1px solid #dcdcdc;
	padding-right:5px;
	text-align:right;
	display:inline-block;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	text-overflow: ellipsis;
}

/* ACTION */

body div.line[data-line-type*=action] {
 	font-weight: bold;
 	font-style: italic;
	background-color: #eee

}

body div[data-line-type*="action"] .message {
	color: #000;
	font-weight: bold;
}

body div[data-line-type*=action] .sender {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	font-weight: 700;
	width:134px;
	min-height:30px;
	text-shadow: #fff 0px 1px;
	background-color: #eee;
	padding-right:5px;
	text-align:right;
	display:inline-block;
	overflow: auto;
	height: 100%;
}

body div[data-line-type*=action] p[data-line-type*=myself] .sender,
body div[data-line-type*=action][data-member-type*=myself] .sender {
	color: #7ae;
}

body div[data-line-type*=action] p[data-line-type*=myself] .message,
body div[data-line-type*=action][data-member-type*=myself] .sender {
	color: #000;
}

body[dir=ltr] div[data-line-type*=action] .sender:before {
	margin-right: 0.4em;
}

body[dir=ltr] div[data-line-type*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[data-line-type*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[data-line-type*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[data-line-type*=invite],
body div.line[data-line-type*=debug],
body div.line[data-line-type*=rawhtml],
.message_buffer_session_indicator {
	color: #777;
  	z-index: 190;
	background: #eee;
  	position: relative;
 	padding: 2px 0px 2px 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* Current session indicator */

.message_buffer_session_indicator {
	line-height: 25px;
}

.message_buffer_session_indicator hr {
	display: none;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

body div.line[data-command="372"],
body div.line[data-command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[data-command="375"],
body div.line[data-command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[data-command="376"],
body div.line[data-command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[data-command="372"] .message,
body div.line[data-command="375"] .message,
body div.line[data-command="376"] .message
body div.line[data-command="720"] .message,
body div.line[data-command="721"] .message,
body div.line[data-command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body span.message{
	position: relative;
	padding-left: 150px;
	display:table-cell;
	vertical-align: middle;
	min-height:30px;
	line-height: 30px;
	width: calc(100% - 250px);
	word-break: break-word;
	overflow-wrap: break-word;
}

body span.message img.emoticon {
	padding-top: 4px;
	display: inline;
}

body div.event + div.event {
	border-top: #fff 1px solid;
}

body div.event span.time {
	color: #a6b9c0;
	line-height: 25px;
}

body div.event span.message {
	min-height: 25px;
	line-height: 25px;
	text-shadow: #fff 0px 1px;
	padding-left: 0;
}

body div.line[data-line-type*=join],
body div.line[data-line-type*=part],
body div.line[data-line-type*=kick],
body div.line[data-line-type*=quit],
body div.line[data-line-type*=kill],
body div.line[data-line-type*=nick],
body div.line[data-line-type*=mode],
body div.line[data-line-type*=topic],
body div.line[data-line-type*=website] {
	padding-left: 10px;
	background-color: #DEE6F2;
	font-weight: bold;
	min-height: 19px;
}

body div.event span.message[data-line-type*=topic]{
	color: #000;
}

body div.event span.message[data-line-type*=join]{
	color: #BAAED5;
}

body div.event span.message[data-line-type*=part]{
	color: #a6b9c0;
}

body div.event span.message[data-line-type*=kick]{
	color: #303030;
}

body div.event span.message[data-line-type*=quit]{
	color: #a6b9c0;
}

body div.event span.message[data-line-type*=kill]{
	color: #a6b9c0;
}

body div.event span.message[data-line-type*=nick]{
	color: #a6b9c0;
}

body div.event span.message[data-line-type*=mode]{
	color: #a6b9c0;
}

body div.date_indicator {
	color: #000000;
	padding-left: 10px;
	background-color: #DEE6F2;
	font-weight: bold;
	min-height: 19px;
	border-top: #fff 1px solid;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.date_indicator hr {
	display: none;
}

/* Nickname Colors */

body .inline_nickname {
	color: #000;
	display: inline-block;
	line-height: 1;
	padding: 4px 2px;
	background: hsl(0,0%,96%);
	border-top: #fff 1px solid;
	border-radius: 3px;
	margin: 4px 0;
}

body div[data-line-type*=privmsg] .sender[data-line-type*=myself],
body div[data-line-type*=privmsg] .sender[data-member-type*=myself] {
	color: #7ae;
}

.inlineImage,
.inlineVideo,
.inlineVideoService,
.inlineHTML {
	overflow: hidden !important;
	display: flex !important;
	margin-top: 15px !important;
	margin-bottom: 12px !important;
}

.inlineImage .content,
.inlineVideo .content,
.inlineVideoService .content,
.inlineHTML .content {
	display: inline-block;
	margin-right: 12px;
	margin-left: 10px;
	min-width: 40px;
	max-width: 90%;
	background-color:#bcbcbc;
	background:-webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#bcbcbc));
	padding:10px;
	border-radius: 5px;
	order: 1;
}

.inlineImage .closeButton,
.inlineVideo .closeButton,
.inlineVideoService .closeButton,
.inlineHTML .closeButton {
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	line-height: 13px;
	font-size: 20px;
	width: 20px;
	height: 20px;
	font-weight: 900;
	background-color:#bcbcbc;
	background:-webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#bcbcbc));
	padding-top:2px;
	text-align: center;
	order: 2;
}

/* Selected User Messages */

.sender {
	cursor: pointer;
}

body div.line[data-line-type*=privmsg]:not(.selectedUser),
body div.line[data-line-type*=action]:not(.selectedUser) {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[data-line-type*=privmsg] .time:not(.selectedUser),
body div.line[data-line-type*=action] .time:not(.selectedUser) {
	transition: color 0.5s;
}

body div.line.selectedUser[data-highlight=false] .time {
	transition: color 0.5s ease-in;
	color: #000;
}

body div.line.selectedUser[data-highlight=false] {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
  	background-color: #BDEFBC !important;
}

body div.line.selectedUser[data-highlight=false] .sender:before{
	content: "★ ";
	color: #3E8040;
}


body div.line.coalesced.selectedUser[data-highlight=false] .sender:before{
	content: "";
}
