/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}	

body {
	color: #000;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #fff;
	font-family: "Lucida Grande";
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[type=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	border-bottom:1px solid #efefef;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Hide some internal stuff. */
#timestampWidth {
	display: none;
}

/* Loading Screen */

body div#loading_screen {
	position:absolute; 
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	white-space: nowrap;
	float: right;
	color: #999;
	-webkit-user-select: none;
	text-shadow: #fff 0px 1px;
	font-weight: bold;
	margin-right: 10px;
	line-height: 22px;
	font-style: normal;
	text-align: right;
}


/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #184586;
}

a:hover {
	color: #31B8FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	opacity: 0; /* Set by JavaScript */
	z-index: 400;
	position: fixed;

	color: #000;
	text-shadow: #e3e3e3 0px 1px;
	background-color: #bcbcbc;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#bcbcbc));

	font-weight: bold;
	text-align: center;
	line-height: 28px;

	padding: 0 6px 0 6px;
	border-bottom: solid 1px #a3a3a3;

	-webkit-transition: opacity 0.8s linear;
	-webkit-box-shadow: #888 0 2px 2px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a, 
#topic_bar span.channel {
}

/* Images */

body a img {
	border-left: 143px solid #eee;
	margin-left:-148px;
	padding-left: 5px;
	padding-bottom: 5px;
}

body img {
	display: block;
	max-width: 95%;
	/* margin: 15px 15px 12px 15px; */
}

/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px solid;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic 
{
	opacity: 0.6;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[type*=ctcp],
body div.line[type*=notice],
body div.line[type*=wallops] {
	color: #f00;
  	z-index: 191;
	background: #fcc;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #f77;
	border-bottom: 1px solid #f77;
}

body div[type*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* PRIVMSG */

body div.line[type*=privmsg][highlight=false] {
	padding: 0;
}

body div.line[type*=privmsg][highlight=true],
body div.line[type*=action][highlight=true] {
	font-weight: normal;
	background-color: #ffc !important;
}

body div[type*="privmsg"] .message {
	color: #000;
}

body div[type*=privmsg] p[type*=myself] .message {
	color: #000;
}

body div[type*=privmsg] .sender {
	font-weight: 700;
	width:134px;
	text-shadow: #fff 0px 1px; 
	background-color: #eee;
	min-height:22px;
	border-right: 1px solid #dcdcdc;
	padding-right:5px;
	text-align:right;
	display:inline-block;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	text-overflow: ellipsis;
}

/* ACTION */

body div.line[type*=action] {
 	font-weight: bold;
 	font-style: italic;
	background-color: #eee

}

body div[type*="action"] .message {
	color: #000;
	font-weight: bold;
}

body div[type*=action] .sender {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	font-weight: 700;
	width:134px;
	text-shadow: #fff 0px 1px; 
	background-color: #eee;
	height:22px;
	padding-right:5px;
	text-align:right;
	display:inline-block;
	overflow: auto;
	height: 100%;
}

body div[type*=action] p[type*=myself] .sender {
	color: #7ae;
}

body div[type*=action] p[type*=myself] .message {
	color: #000;
}

body[dir=ltr] div[type*=action] .sender:before {
	margin-right: 0.4em;
}

body[dir=ltr] div[type*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[type*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[type*=invite],
body div.line[type*=debug],
body div.line[type*=rawhtml] {
	color: #777;
  	z-index: 190;
	background: #eee;
  	position: relative;
 	padding: 2px 0px 2px 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */ 

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message 
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body span.message{
	position: relative;
	padding-left: 145px;
	display:table-cell;
	vertical-align: middle;
	min-height: 22px;
	line-height: 22px;
	width:80%;
}

body div.event + div..event {
	border-top: #fff 1px solid;
}

body div.event span.time {
	color: #a6b9c0;
	line-height: 19px;
}

body div.event span.message {
	min-height: 19px;
	line-height: 19px;
	text-shadow: #fff 0px 1px;
	padding-left: 0;
}

body div.line[type*=join],
body div.line[type*=part],
body div.line[type*=kick],
body div.line[type*=quit],
body div.line[type*=kill],
body div.line[type*=nick],
body div.line[type*=mode],
body div.line[type*=topic],
body div.line[type*=website] {
	padding-left: 1%;
	background-color: #DEE6F2;
	font-weight: bold;
	min-height: 19px;
}

body div.event span.message[type*=topic]{
	color: #000;
}

body div.event span.message[type*=join]{
	color: #BAAED5;
}

body div.event span.message[type*=part]{
	color: #a6b9c0;
}

body div.event span.message[type*=kick]{
	color: #303030;
}

body div.event span.message[type*=quit]{
	color: #a6b9c0;
}

body div.event span.message[type*=kill]{
	color: #a6b9c0;
}

body div.event span.message[type*=nick]{
	color: #a6b9c0;
}

body div.event span.message[type*=mode]{
	color: #a6b9c0;
}


/* Nickname Colors */

body .inline_nickname {
	font-weight: 700;
	color: #000;
}

body div[type*=privmsg] .sender[type*=myself] { 
	color: #7ae; 
}

body .sender[type*=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] {
	color: #008; 
}

body .sender[type*=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] {
	color: #333; 
}

body .sender[type*=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] {
	color: #66a; 
}

body .sender[type*=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] {
	color: #458; 
}

body .sender[type*=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] {
	color: #080; 
}

body .sender[type*=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] {
	color: #a32; 
}

body .sender[type*=normal][colornumber='6'], 
body .inline_nickname[colornumber='6'] {
	color: #820; 
}

body .sender[type*=normal][colornumber='7'], 
body .inline_nickname[colornumber='7'] {
	color: #808; 
}

body .sender[type*=normal][colornumber='8'], 
body .inline_nickname[colornumber='8'] {
	color: #f80; 
}

body .sender[type*=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] {
	color: #ac5; 
}

body .sender[type*=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] {
	color: #00CC52; 
}

body .sender[type*=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] {
	color: #088; 
}

body .sender[type*=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] {
	color: #a1f; 
}

body .sender[type*=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] {
	color: #cc6; 
}

body .sender[type*=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] {
	color: #d8f; 
}

body .sender[type*=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] {
	color: #888; 
}

body .sender[type*=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #c66;
}

body .sender[type*=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #b41;
}

body .sender[type*=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #aa0;
}

body .sender[type*=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #6df;
}

body .sender[type*=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #7f4;
}

body .sender[type*=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #665;
}

body .sender[type*=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #b13637;
}

body .sender[type*=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #e45d59;
}

body .sender[type*=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #1b51ae;
}

body .sender[type*=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #4855ac;
}

body .sender[type*=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #7f1d86;
}

body .sender[type*=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #73643f;
}

body .sender[type*=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #0b9578;
}

body .sender[type*=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #569c96;
}

body .sender[type*=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #08465f;
}